:root {
    --primary-color: #546792;
    --text-color: #ffffff;
    --checkbox-checked-background: #546791;
    --checkbox-text-color: #fff;
    --default-border-color: #000;
    --error-color: #FF0000;
    --modal-overlay: rgb(84, 103, 145, 0.6);
    --dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
    font-family: "Fira sans", sans-serif;
    margin: 0;
}

html {
    font-size: 10px;
    line-height: 10px;
}

body {
    padding: 0;
    background-color: var(--dark);
    color: #FFF;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

h1 { 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.tasks__wrapper {
    max-width: 70%;
    width: 100%;
}

.create-task-block {
    position: relative;
}

.create-task-block__input {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    color: var(--light);
    background-color: var(--darker);
    padding: 0.5rem;
    font-size: 2rem;
    height: 40px;
    width: 50%;
    margin-bottom: 40px;
}

.create-task-block__button {
    cursor: pointer;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    padding: 5px 20px;
    font-size: 2.5rem;
    font-weight: 700;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.4s;
}

.create-task-block__button:hover {
	opacity: 0.8;
}

.task-item__delete-button:hover {
    opacity: 0.8;
}

.task-item__delete-button {
    cursor: pointer;
	margin: 0 0.5rem;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	transition: 0.4s;
    color: crimson;
}

.task-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    flex-direction: column;
}

.task-item__main-container {
    display: flex;
    justify-content: space-between;
}

.task-item__main-content {
    display: flex;
    align-items: center;
}

.task-item__text {
    font-size: 2rem;
    line-height: 2.5rem;
}

.checkbox-form__checkbox + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
  
.checkbox-form__checkbox  {
    display: none;
}
  
.checkbox-form__checkbox + label:before {
    content: "\2714";
    border: 0.1em solid var(--light);
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.checkbox-form__checkbox + label:active:before {
    transform: scale(0);
}

.checkbox-form__checkbox:checked + label:before {
    background-color: var(--checkbox-checked-background);
    border-color: var(--checkbox-checked-background);
    color: var(--checkbox-text-color);
}

.checkbox-form__checkbox:disabled + label:before {
    transform: scale(1);
}

.checkbox-form__checkbox:checked:disabled + label:before {
    transform: scale(1);
    background-color: var(--checkbox-checked-background);
    border-color: var(--checkbox-checked-background);
}

.tooltip {
    position: absolute;
    left: -50%;
    bottom: calc(100% + 5px);
    margin: auto 0;

    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2rem;
    width: 200px;
    border: 2px solid var(--default-border-color);
}

.error-message-block {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 5px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--error-color);
}

.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-overlay);
    z-index: 1000;
    transition: 0.2s ease;
    opacity: 1;
}

.modal-overlay_hidden {
    top: 100%;
    opacity: 0;
}

.delete-modal {
    position: relative;
    top: 0;
    width: 50%;
    height: fit-content;
    padding: 15px 25px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 0.3s ease-in;
}

.delete-modal__question {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.delete-modal__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delete-modal__button {
    cursor: pointer;
    font-size: 2rem;
    line-height: 2.5rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background: none;
    color: var(--text-color);
    padding: 5px 10px;
    transition: 0.3s ease;
}

.delete-modal__button:hover {
    box-shadow: 0 0 0 1px var(--text-color);
}

.delete-modal__confirm-button {
    background-color: crimson;
    border: 1px solid crimson;
}